@model ContatoModel
@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
 
    <h1 class="display-4">Cadastrar contatos</h1>

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
    @Html.ValidationMessageFor(x => x.Nome)
  </div>
  <div class="form-group">
    <label for="email">E-mal</label>
    <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do contato">
    @Html.ValidationMessageFor(x => x.Email)
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" asp-for="Telefone" class="form-control" placeholder="Digite o Telefone do contato">
    @Html.ValidationMessageFor(x => x.Telefone)
  </div>
  <br />
  <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
  <a role="button"type="button" class="btn btn-secundary btn-block"asp-controller="Contato" asp-action="Index">Voltar</a>
</form>